@font-face {
  font-family: Google Sans;
  src: url("/fonts/GoogleSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Volknov;
  src: url("/fonts/Volkhov-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, .logo {
  font-family: 'Volkhov', 'Poppins', serif;
}
.newsletter{
  font-family:'Poppins', serif;
}